body { background-image: url()

}
 
 
 
 /* 4 images  */
 #images-main { margin: 10px;
    border: #cc5500 6px solid"
   }
    #main-panel-1 { border: 7px double burlywood;}

.col-md-6 img { float: left; 
    margin: 20px;}



/* #main-panel-2 {  border: 7px double burlywood;
                  margin-left: 20px;
                }

 .img-vis { 
                    margin: 20px;
                    padding-left: 30px;
                    
                    width: 70%;} */
                
               


